.about__photo
  background-image url(/assets/img/about.png)
  background-position right bottom
  background-size cover
  min-height 30vw
.about__info
  background-color #f3f1ef
  color #666666
  padding 6% 12% 6% 4%
