.top
  background-image url(/assets/img/header-bg.png)
  background-repeat no-repeat
  background-size cover
  padding 5% 12% 15% 12%
.logo
  background-color black
  height 70px
  width 70px
  text-align center
  &::after
    content: '/.'
    color white
    font-size 50px
    font-weight 700
.top__title
  font-size 62px
  font-weight 300
  letter-spacing -2px
  line-height 76px
  margin-top 130px
  margin-bottom 20px
.top__subtitle
  font-size 27px
  font-weight 350
  line-height 32px
  letter-spacing -1px
.top__subtitle-bold
  font-weight 700
