.top
  background-image url(/assets/img/header-bg.png)
  background-repeat no-repeat
  background-size cover
  background-position top right
  padding 5% 12% 12%
.logo
  width 4.4em
  height 4.4em
  background-color black
  text-align center
  &::after
    content: '/.'
    color white
    font-size 3rem
    font-weight 700
.top__title
  font-size 4.5em
  font-weight 300
  letter-spacing -2px
  line-height 1.3em
  margin-top 1.8em
  margin-bottom 20px
.top__subtitle
  font-size 1.8em
  font-weight 350
  line-height 1.2em
  letter-spacing -1px
.top__subtitle-bold
  font-weight 700
.header
.header__info
.header__nav
  padding 0
