$instaBg = #3f729b
.instagram__info
  color #f9f9f9
  padding 8% 4% 8% 12%
.instagram__button:hover
  color $instaBg
.instagram__img
  background-image url(/assets/img/instagram-img.png)
  background-position center center
  background-size cover
  min-height 32vw
.instagram__blank
.instagram__info
  background-color $instaBg
