.title
  font-size 24px
  font-weight 700
  margin-bottom 20px
  text-transform uppercase
.text
  font-size 32px
  font-weight 300
  letter-spacing -1px
  line-height 1.2
.text-margin
  margin-bottom 40px
.button
  border 2px solid #ffffff
	border-radius 26px
  color #f9f9f9
  font-size 18px
  font-weight 700
  letter-spacing 3.6px
  padding 10px 20px
  text-decoration none
  text-transform uppercase
  &:hover
  &:focus
   background-color #ffffff
   text-decoration none

