html
  font-size 100%
.title
  font-size 1.6em
  font-weight 700
  text-transform uppercase
  margin-bottom .8em
.text
  font-size 2em
  font-weight 300
  letter-spacing -1px
  line-height 1.2
.text-margin
  margin-bottom 40px
.button
  color #f9f9f9
  font-size 1.1em
  font-weight 700
  text-transform uppercase
  letter-spacing .2em
  border 2px solid #ffffff
  text-decoration none
  padding .6em 1.2em
  border-radius 1.4em
  &:hover
  &:focus
    text-decoration none
    background-color #ffffff
.back-to-top
  background-color rgba(255, 255, 255, 0.5)
  border-radius 4px
  bottom 60px
  cursor pointer
  display none
  font-size 1.5em
  font-weight 400
  padding 10px
  position fixed
  right 20px
  text-align center
  z-index 9999
    &:hover
      background-color rgba(255, 255, 255, 0.6)
.back-to-top-show
  display block
