@media screen and (min-width: 576px)
  html
    font-size 50%
@media screen and (min-width: 768px)
  html
    font-size 60%
@media screen and (min-width: 992px)
   html
     font-size 76%
  .footer
    padding 2vw 5vw
@media screen and (min-width: 1024px)
   html
     font-size 80%
@media screen and (min-width: 1200px)
   html
     font-size 96%
@media screen and (min-width: 1440px)
   html
     font-size 110%
@media screen and (min-width: 1600px)
  html
    font-size 125%
@media screen and (max-width: 768px)
  .menu
    top 0
    right 40px
    padding 2em 4em
  .menu__link
    font-size 2.6em
  .footer
    grid-template-columns 1fr 1fr
    font-size 1.5em
    padding 4vw 3vw
  .about-me
  .contacts
  .subscribe
  .follow-me
  .sponsors
    padding 2vw
  .subscribe__input
    width 76%
  .subscribe__button
    width 8%
@media screen and (max-width: 576px)
  .top
    padding 5% 12% 10%
  .top__title
    margin-top 1.3em
  .gallery__box
    height 64vw
  .instagram__img
    height 42vw
  .instagram__info .text
    letter-spacing 0
  .music__title
    font-size 2em
  .music__subtitle
    font-size 1.5em
  .music__text
    font-size 1.5em
  .music__img
    background-position center top
@media screen and (max-width: 425px)
  html
    font-size 70%
  .menu__button-close:after
  .menu__button-open:after
    font-size 5em
  .menu__button
    margin-top -14px
  .menu
    right 0
    top 70px
    padding 5em 6em
  .menu__link
    font-size 4em
  .top
    padding 5% 10% 4%
    background-size auto 390px
  .top__title
    margin-top 0
  .top__subtitle
    font-size 2em
    font-weight 400
  .about__photo
    height 62vw
  .about__info
  .instagram__info
    padding 10%
  .gallery__box
  .instagram__img
    height 126vw
  .music__img
    background none
    padding 0
  .music__img .row
    margin 0
  .music__button
    font-size 1.1em
  .music__info
  .spotify
  .itunes
    padding 8% 15%
  .footer
    display flex
    flex-direction column
  .footer__about-me
  .contacts
  .subscribe
  .follow-me
  .sponsors
    padding 5vw 8vw
  .sponsors
    padding-bottom 10vw
  .music__photo-for-mq
    background-image url(/assets/img/music-bg.png)
    background-size cover
    height 60vw
@media screen and (max-width: 375px)
  .top__title
    font-size 3.7em
  .button
    font-size 1.3em
@media screen and (max-width: 320px)
  .top
    background-size auto 360px
  .menu
    padding 4vw 10vw
  .music__info
  .spotify
  .itunes
    padding 8% 10%
  .subscribe__input
    font-size .9em
  .sponsors__logo
    padding 15px 10px
