.music__blank
  background-color #282b2f
.music__img
  background-image url(/assets/img/music-bg.png)
  background-position right center
  background-size cover
  padding-bottom 30vh
.music__info
  background-color #212227
  padding 8% 5% 8% 5%
.music__title
.music__subtitle
  color #2ebd59
.music__subtitle
  font-size 18px
  font-weight 400
  text-transform uppercase
  margin-top -10px
.music__text
  color #f9f9f9
  font-size 14px
  font-weight 400
  line-height 21px
  margin-top 30px
.music__button
  border-color #2ebd59
  color #2ebd59
  font-size 12px
  &:hover
    background-color #2ebd59
    color #212227
  &::after
    content ' \25B6'
.spotify
  background-color #2ebd59
  color #f9f9f9
  padding 8% 4% 8% 12%
.spotify .button:hover
  color #2ebd59
.itunes
  background-color #282b2f
  color #f9f9f9
  padding 8% 12% 8% 4%
.itunes .button:hover
  color #282b2f
